<!-- Header -->
	<header id="header" class="alt">
		<span class="logo"><%= image_tag "RRLogo.png", alt: "" %> </span>
		<h1>RedRoster</h1>
		<p>Cornell's Courses, Socially</p>
	</header>

<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="#intro" class="active">Introduction</a></li>
			<li><a href="#first">Features</a></li>
			<li><a href="#cta">Try It</a></li>
		</ul>
	</nav>

<!-- Main -->
	<div id="main">

		<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight" style="opacity: 0;">
					<div class="content">
						<header class="major">
							<h2>Redefining Cornell's Roster</h2>
						</header>
						<p>
							RedRoster places Cornell's entire course suite on a mobile platform, with social features to boot. See what courses your friends are taking, read / write reviews, and build your schedule on the platform that gives you as much Cornell course information as possible in the palm of your hand.
						</p>
					</div>
					<span class="image"><%= image_tag "RROnTable.jpg", alt: "" %></span>
				</div>
			</section>


		<!-- First Section -->
			<section id="first" class="main special">
				<header class="major">
					<h2>There's a lot to see...</h2>
				</header>
				<ul class="features">
					<li class="one" style="opacity: 0;">
						<h3>Find Your Friends</h3>
						<%= image_tag "people_portrait.png", class: "mockup", alt: "" %> 
						<p>Avoid texting everyone you know with a pulse to see who's going to be in CHEM 2070 with you</p>
					</li>
					<li class="two" style="opacity: 0;">
						<h3>Plan Your Life</h3>
						<%= image_tag "schedules_portrait.png", class: "mockup", alt: "" %> 
						<p>Make several schedules per semester to better plan your time commitments at Cornell</p>
					</li>
					<li class="three" style="opacity: 0;">
						<h3>Read and Provide Insight</h3>
						<%= image_tag "reviews_portrait.png", class: "mockup", alt: "" %> 
						<p>The first Cornell course review system on a mobile platform, with reviews from all semesters available</p>
					</li>
				</ul>
			</section>


		<!-- Get Started -->
			<section id="cta" class="main special">
				<div class="beta-section" style="opacity: 0;">
					<header class="major">
						<h2>Wanna Try It?</h2>
					</header>
					<!-- 
					<p>RedRoster is currently in Beta, but we are always looking for new people to try it.  Send us your email for a download!</p>
					<footer class="major">
						<ul class="actions">
							<li><a><input type="email" name="email" class="email-field" placeholder="email" /></a></li>
							<li><a class="submit-email button">Request Beta</a></li>
						</ul>
						<p class="email-result"></p> 
					</footer>

					--> 

					<p>RedRoster is currently undergoing app store review.  It should be available in a day or two!  </p>


				</div> 
			</section>

	</div>





			